.navbar {
    background-color: #febe98;
    .navbar-brand {
        color:#532824;
        
    }
    form{
        input{
            border-color: #532824;
        }
        button{
            color: #532824;
            border-color: #532824;
        }
    }
    .cartButton {
        color: #532824;
        border-color: #532824;
    }
}