body {
    display: grid;
    grid-template-rows: 1fr auto; 
    margin: 0;

    // .navp {
       
    // }
    
    .imgProduit {
        display: flex;
        align-items: center;
        width: 20rem;
    }
    
    .produitf {
        background-color: #febe98;
        padding: 10px;
        text-align: center;
    }
}

.infoProduit {
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    position: relative;
    float: right;
}

#boxe{
    display: flex;
    justify-content: center;
}